.card-title {
    text-align: center !important;
    float: unset !important;
    font-weight: bold !important;
    font-size: 1.4rem !important;
}

.input-group-text {
    background-color: transparent !important;
}

.form-control:not(.not-included) {
    border-right: none !important;
}

p {
    text-align: center;
    font-size: 0.9rem !important;
    margin-top: 0.6rem !important;
}

.custom-link {
    font-size: 0.8rem !important;
    margin-bottom: 0.3rem !important;
}

.password-strength ul {
    list-style-type: none !important;
    padding: 0;
}

ul.password-criteria{
    list-style-type: none !important;
    padding: unset !important;
}

.password-strength li {
    color: red;
}

.password-strength .text-success {
    color: green !important;
}

.bg-yellow {
    background-color: yellow !important;
}