<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{ pagetitle }}</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">{{ pagetitle }}</li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="content">
    <div class="container-fluid">
      <div class="col-md-12">
        <app-table
          [title]="pagetitle + ' List'"
          [data]="filteredSchedules"
          [columns]="[
            { key: 'date', label: 'Day', sortable: true },
            { key: 'startTime', label: 'Start Time', sortable: true },
            { key: 'endTime', label: 'End Time', sortable: true },
            { key: 'duration', label: 'Duration', sortable: true }
          ]"
          [pageSizeOptions]="[5, 10, 15, 20]"
          [(itemsPerPage)]="itemsPerPage"
          [(currentPage)]="p"
          [(searchTerm)]="searchTerm"
          [showAddButton]="true"
          [addButtonText]="'Add Schedule'"
          (sort)="sortSchedules($event)"
          (add)="openAddScheduleModal()"
          (itemsPerPageChange)="onItemsPerPageChange($event)"
          (currentPageChange)="p = $event"
          (searchTermChange)="filterSchedules($event)"
        ></app-table>
      </div>
    </div>
  </div>
</section>

<app-general-modal
  [isVisible]="isAddScheduleModalVisible"
  [title]="'Add Schedule'"
  (closeModal)="closeAddScheduleModal()"
  (submitModal)="handleAddSchedule($event)"
></app-general-modal>
