<!-- Add Dental History Modal -->
<div *ngIf="isVisible">
  <div class="modal-backdrop fade show"></div> <!-- Backdrop -->
  <div
    class="modal fade show"
    [class.d-block]="isVisible"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addDentalHistoryModalLabel"
    aria-hidden="true"
    data-backdrop="static"
    data-keyboard="false"
  >
    <div class="modal-dialog modal-md" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addDentalHistoryModalLabel">{{ title }}</h5>
          <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="dentalHistoryForm" (ngSubmit)="submitDentalHistory()">

            <!-- Previous Dentist Field -->
            <div class="form-group">
              <label for="previous_dentist">Previous Dentist <span class="text-danger">*</span></label>
              <input
                type="text"
                class="form-control"
                id="previous_dentist"
                formControlName="previous_dentist"
                [attr.aria-required]="true"
                [attr.aria-invalid]="dentalHistoryForm.get('previous_dentist')?.invalid"
              />
              <div *ngIf="dentalHistoryForm.get('previous_dentist')?.hasError('required') && dentalHistoryForm.get('previous_dentist')?.touched" class="text-danger">
                Previous Dentist is required.
              </div>
            </div>

            <!-- Last Dental Visit Field -->
            <div class="form-group">
              <label for="last_dentist_visit">Last Dental Visit <span class="text-danger">*</span></label>
              <input
                type="date"
                class="form-control"
                id="last_dentist_visit"
                formControlName="last_dentist_visit"
                [attr.aria-required]="true"
                [attr.aria-invalid]="dentalHistoryForm.get('last_dentist_visit')?.invalid"
              />
              <div *ngIf="dentalHistoryForm.get('last_dentist_visit')?.hasError('required') && dentalHistoryForm.get('last_dentist_visit')?.touched" class="text-danger">
                Last Dental Visit is required.
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
              <button type="submit" class="btn btn-primary" [disabled]="dentalHistoryForm.invalid">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
