<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ pagetitle }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ pagetitle }}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  
  <section>
    <div class="content">
      <div class="container-fluid">
        <div class="col-md-12">
          <app-table
            [title]="pagetitle + ' List'"
            [data]="filteredPatients"
            [columns]="columns"
            [itemsPerPage]="itemsPerPage"
            [(currentPage)]="currentPage"
            [(searchTerm)]="searchTerm"
            [pageSizeOptions]="[5, 10, 15, 20]"
            [showAddButton]="false"
            (searchTermChange)="filterPatients($event)"
            (currentPageChange)="currentPage = $event"
            (rowAction)="handleRowAction($event)"
            (sort)="sortPatients($event)"
            (actionClick)="handleActionClick($event)"
          ></app-table>
        </div>
      </div>
    </div>
  </section>
  