h3.card-title {
    font-size: 2rem !important;
    font-weight: 500 !important;
    color: dodgerblue !important;
}

h3.card-title2 {
    font-size: 1.8rem !important;
    font-weight: 500 !important;
    color: rgb(0, 0, 0) !important;
}

.question-title{
    margin-bottom: 10px;
}