.list-group-item{
    border: unset !important;
    border-bottom: 1px solid rgba(0, 0, 0, .125) !important;
}

.float-right{
    color: #6c757d!important

}

.patientinfo{
    font-size: 1.4rem !important;
}